lemonway/lemonway.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Service_mb" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="Service_mb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Service_mb">
      <s:element name="RegisterWallet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ctry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="birthdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyWebsite" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterWalletResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterWalletResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWalletDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newCtry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newBirthDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newCompanyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newCompanyWebsite" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newCompanyDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWalletDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateWalletDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWalletStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newStatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWalletStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateWalletStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterIBAN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="holder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bic" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iban" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dom1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dom2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterIBANResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterIBANResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterSddMandate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="holder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bic" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iban" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isRecurring" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterSddMandateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterSddMandateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnregisterCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnregisterCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisterCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnregisterSddMandate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sddMandateId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnregisterSddMandateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisterSddMandateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wkToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountTot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardCrypto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autoCommission" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isPreAuth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="delayedDays" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoneyInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyInValidate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyInValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoneyInValidateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyIn3DInit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wkToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountTot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autoCommission" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyIn3DInitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoneyIn3DInitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyIn3DConfirm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaRes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isPreAuth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="delayedDays" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyIn3DConfirmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoneyIn3DConfirmResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyIn3DAuthenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaRes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyIn3DAuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoneyIn3DAuthenticateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyInWebInit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wkToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountTot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="useRegisteredCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cancelUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errorUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autoCommission" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyInWebInitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoneyInWebInitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyInWithCardId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountTot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autoCommission" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isPreAuth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="delayedDays" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyInWithCardIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoneyInWithCardIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="debitWallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="creditWallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendPaymentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaymentDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionComment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaymentDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPaymentDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoneyInTransDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionComment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionMerchantToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoneyInTransDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMoneyInTransDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoneyOutTransDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionComment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoneyOutTransDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMoneyOutTransDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ibanId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountTot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autoCommission" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoneyOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefundMoneyIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountToRefund" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefundMoneyInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefundMoneyInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWalletDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWalletDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWalletDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FastPay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardCrypto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="creditWallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autoCommission" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="registerCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FastPayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FastPayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKycStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKycStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKycStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoneyInIBANDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoneyInIBANDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMoneyInIBANDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChargebacks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChargebacksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChargebacksResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoneyInChequeDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoneyInChequeDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMoneyInChequeDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoneyInSdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoneyInSddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMoneyInSddResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalances">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalancesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBalancesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateGiftCodeAmazon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="debitWallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountAGCOD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateGiftCodeAmazonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateGiftCodeAmazonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateVCC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="debitWallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountVCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateVCCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateVCCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyInIDealInit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountTot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autoCommission" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="issuerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyInIDealInitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoneyInIDealInitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyInIDealConfirm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyInIDealConfirmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoneyInIDealConfirmResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyInSddInit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountTot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amountCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autoCommission" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sddMandateId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletUa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoneyInSddInitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoneyInSddInitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterWalletSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterWallet" />
  </wsdl:message>
  <wsdl:message name="RegisterWalletSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterWalletResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWalletDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWalletDetails" />
  </wsdl:message>
  <wsdl:message name="UpdateWalletDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWalletDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWalletStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWalletStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateWalletStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWalletStatusResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterIBANSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterIBAN" />
  </wsdl:message>
  <wsdl:message name="RegisterIBANSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterIBANResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSddMandateSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterSddMandate" />
  </wsdl:message>
  <wsdl:message name="RegisterSddMandateSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterSddMandateResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterCardSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterCard" />
  </wsdl:message>
  <wsdl:message name="RegisterCardSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterCardResponse" />
  </wsdl:message>
  <wsdl:message name="UnregisterCardSoapIn">
    <wsdl:part name="parameters" element="tns:UnregisterCard" />
  </wsdl:message>
  <wsdl:message name="UnregisterCardSoapOut">
    <wsdl:part name="parameters" element="tns:UnregisterCardResponse" />
  </wsdl:message>
  <wsdl:message name="UnregisterSddMandateSoapIn">
    <wsdl:part name="parameters" element="tns:UnregisterSddMandate" />
  </wsdl:message>
  <wsdl:message name="UnregisterSddMandateSoapOut">
    <wsdl:part name="parameters" element="tns:UnregisterSddMandateResponse" />
  </wsdl:message>
  <wsdl:message name="MoneyInSoapIn">
    <wsdl:part name="parameters" element="tns:MoneyIn" />
  </wsdl:message>
  <wsdl:message name="MoneyInSoapOut">
    <wsdl:part name="parameters" element="tns:MoneyInResponse" />
  </wsdl:message>
  <wsdl:message name="MoneyInValidateSoapIn">
    <wsdl:part name="parameters" element="tns:MoneyInValidate" />
  </wsdl:message>
  <wsdl:message name="MoneyInValidateSoapOut">
    <wsdl:part name="parameters" element="tns:MoneyInValidateResponse" />
  </wsdl:message>
  <wsdl:message name="MoneyIn3DInitSoapIn">
    <wsdl:part name="parameters" element="tns:MoneyIn3DInit" />
  </wsdl:message>
  <wsdl:message name="MoneyIn3DInitSoapOut">
    <wsdl:part name="parameters" element="tns:MoneyIn3DInitResponse" />
  </wsdl:message>
  <wsdl:message name="MoneyIn3DConfirmSoapIn">
    <wsdl:part name="parameters" element="tns:MoneyIn3DConfirm" />
  </wsdl:message>
  <wsdl:message name="MoneyIn3DConfirmSoapOut">
    <wsdl:part name="parameters" element="tns:MoneyIn3DConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="MoneyIn3DAuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:MoneyIn3DAuthenticate" />
  </wsdl:message>
  <wsdl:message name="MoneyIn3DAuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:MoneyIn3DAuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="MoneyInWebInitSoapIn">
    <wsdl:part name="parameters" element="tns:MoneyInWebInit" />
  </wsdl:message>
  <wsdl:message name="MoneyInWebInitSoapOut">
    <wsdl:part name="parameters" element="tns:MoneyInWebInitResponse" />
  </wsdl:message>
  <wsdl:message name="MoneyInWithCardIdSoapIn">
    <wsdl:part name="parameters" element="tns:MoneyInWithCardId" />
  </wsdl:message>
  <wsdl:message name="MoneyInWithCardIdSoapOut">
    <wsdl:part name="parameters" element="tns:MoneyInWithCardIdResponse" />
  </wsdl:message>
  <wsdl:message name="SendPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:SendPayment" />
  </wsdl:message>
  <wsdl:message name="SendPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:SendPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="GetPaymentDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPaymentDetails" />
  </wsdl:message>
  <wsdl:message name="GetPaymentDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPaymentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMoneyInTransDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMoneyInTransDetails" />
  </wsdl:message>
  <wsdl:message name="GetMoneyInTransDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMoneyInTransDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMoneyOutTransDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMoneyOutTransDetails" />
  </wsdl:message>
  <wsdl:message name="GetMoneyOutTransDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMoneyOutTransDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MoneyOutSoapIn">
    <wsdl:part name="parameters" element="tns:MoneyOut" />
  </wsdl:message>
  <wsdl:message name="MoneyOutSoapOut">
    <wsdl:part name="parameters" element="tns:MoneyOutResponse" />
  </wsdl:message>
  <wsdl:message name="RefundMoneyInSoapIn">
    <wsdl:part name="parameters" element="tns:RefundMoneyIn" />
  </wsdl:message>
  <wsdl:message name="RefundMoneyInSoapOut">
    <wsdl:part name="parameters" element="tns:RefundMoneyInResponse" />
  </wsdl:message>
  <wsdl:message name="GetWalletDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetWalletDetails" />
  </wsdl:message>
  <wsdl:message name="GetWalletDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetWalletDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="FastPaySoapIn">
    <wsdl:part name="parameters" element="tns:FastPay" />
  </wsdl:message>
  <wsdl:message name="FastPaySoapOut">
    <wsdl:part name="parameters" element="tns:FastPayResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetKycStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetKycStatus" />
  </wsdl:message>
  <wsdl:message name="GetKycStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetKycStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetMoneyInIBANDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMoneyInIBANDetails" />
  </wsdl:message>
  <wsdl:message name="GetMoneyInIBANDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMoneyInIBANDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetChargebacksSoapIn">
    <wsdl:part name="parameters" element="tns:GetChargebacks" />
  </wsdl:message>
  <wsdl:message name="GetChargebacksSoapOut">
    <wsdl:part name="parameters" element="tns:GetChargebacksResponse" />
  </wsdl:message>
  <wsdl:message name="GetMoneyInChequeDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMoneyInChequeDetails" />
  </wsdl:message>
  <wsdl:message name="GetMoneyInChequeDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMoneyInChequeDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMoneyInSddSoapIn">
    <wsdl:part name="parameters" element="tns:GetMoneyInSdd" />
  </wsdl:message>
  <wsdl:message name="GetMoneyInSddSoapOut">
    <wsdl:part name="parameters" element="tns:GetMoneyInSddResponse" />
  </wsdl:message>
  <wsdl:message name="GetBalancesSoapIn">
    <wsdl:part name="parameters" element="tns:GetBalances" />
  </wsdl:message>
  <wsdl:message name="GetBalancesSoapOut">
    <wsdl:part name="parameters" element="tns:GetBalancesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateGiftCodeAmazonSoapIn">
    <wsdl:part name="parameters" element="tns:CreateGiftCodeAmazon" />
  </wsdl:message>
  <wsdl:message name="CreateGiftCodeAmazonSoapOut">
    <wsdl:part name="parameters" element="tns:CreateGiftCodeAmazonResponse" />
  </wsdl:message>
  <wsdl:message name="CreateVCCSoapIn">
    <wsdl:part name="parameters" element="tns:CreateVCC" />
  </wsdl:message>
  <wsdl:message name="CreateVCCSoapOut">
    <wsdl:part name="parameters" element="tns:CreateVCCResponse" />
  </wsdl:message>
  <wsdl:message name="MoneyInIDealInitSoapIn">
    <wsdl:part name="parameters" element="tns:MoneyInIDealInit" />
  </wsdl:message>
  <wsdl:message name="MoneyInIDealInitSoapOut">
    <wsdl:part name="parameters" element="tns:MoneyInIDealInitResponse" />
  </wsdl:message>
  <wsdl:message name="MoneyInIDealConfirmSoapIn">
    <wsdl:part name="parameters" element="tns:MoneyInIDealConfirm" />
  </wsdl:message>
  <wsdl:message name="MoneyInIDealConfirmSoapOut">
    <wsdl:part name="parameters" element="tns:MoneyInIDealConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="MoneyInSddInitSoapIn">
    <wsdl:part name="parameters" element="tns:MoneyInSddInit" />
  </wsdl:message>
  <wsdl:message name="MoneyInSddInitSoapOut">
    <wsdl:part name="parameters" element="tns:MoneyInSddInitResponse" />
  </wsdl:message>
  <wsdl:portType name="Service_mbSoap">
    <wsdl:operation name="RegisterWallet">
      <wsdl:input message="tns:RegisterWalletSoapIn" />
      <wsdl:output message="tns:RegisterWalletSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWalletDetails">
      <wsdl:input message="tns:UpdateWalletDetailsSoapIn" />
      <wsdl:output message="tns:UpdateWalletDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWalletStatus">
      <wsdl:input message="tns:UpdateWalletStatusSoapIn" />
      <wsdl:output message="tns:UpdateWalletStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterIBAN">
      <wsdl:input message="tns:RegisterIBANSoapIn" />
      <wsdl:output message="tns:RegisterIBANSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterSddMandate">
      <wsdl:input message="tns:RegisterSddMandateSoapIn" />
      <wsdl:output message="tns:RegisterSddMandateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCard">
      <wsdl:input message="tns:RegisterCardSoapIn" />
      <wsdl:output message="tns:RegisterCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnregisterCard">
      <wsdl:input message="tns:UnregisterCardSoapIn" />
      <wsdl:output message="tns:UnregisterCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnregisterSddMandate">
      <wsdl:input message="tns:UnregisterSddMandateSoapIn" />
      <wsdl:output message="tns:UnregisterSddMandateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoneyIn">
      <wsdl:input message="tns:MoneyInSoapIn" />
      <wsdl:output message="tns:MoneyInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoneyInValidate">
      <wsdl:input message="tns:MoneyInValidateSoapIn" />
      <wsdl:output message="tns:MoneyInValidateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoneyIn3DInit">
      <wsdl:input message="tns:MoneyIn3DInitSoapIn" />
      <wsdl:output message="tns:MoneyIn3DInitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoneyIn3DConfirm">
      <wsdl:input message="tns:MoneyIn3DConfirmSoapIn" />
      <wsdl:output message="tns:MoneyIn3DConfirmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoneyIn3DAuthenticate">
      <wsdl:input message="tns:MoneyIn3DAuthenticateSoapIn" />
      <wsdl:output message="tns:MoneyIn3DAuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoneyInWebInit">
      <wsdl:input message="tns:MoneyInWebInitSoapIn" />
      <wsdl:output message="tns:MoneyInWebInitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoneyInWithCardId">
      <wsdl:input message="tns:MoneyInWithCardIdSoapIn" />
      <wsdl:output message="tns:MoneyInWithCardIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPayment">
      <wsdl:input message="tns:SendPaymentSoapIn" />
      <wsdl:output message="tns:SendPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDetails">
      <wsdl:input message="tns:GetPaymentDetailsSoapIn" />
      <wsdl:output message="tns:GetPaymentDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMoneyInTransDetails">
      <wsdl:input message="tns:GetMoneyInTransDetailsSoapIn" />
      <wsdl:output message="tns:GetMoneyInTransDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMoneyOutTransDetails">
      <wsdl:input message="tns:GetMoneyOutTransDetailsSoapIn" />
      <wsdl:output message="tns:GetMoneyOutTransDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoneyOut">
      <wsdl:input message="tns:MoneyOutSoapIn" />
      <wsdl:output message="tns:MoneyOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RefundMoneyIn">
      <wsdl:input message="tns:RefundMoneyInSoapIn" />
      <wsdl:output message="tns:RefundMoneyInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWalletDetails">
      <wsdl:input message="tns:GetWalletDetailsSoapIn" />
      <wsdl:output message="tns:GetWalletDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FastPay">
      <wsdl:input message="tns:FastPaySoapIn" />
      <wsdl:output message="tns:FastPaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetKycStatus">
      <wsdl:input message="tns:GetKycStatusSoapIn" />
      <wsdl:output message="tns:GetKycStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMoneyInIBANDetails">
      <wsdl:input message="tns:GetMoneyInIBANDetailsSoapIn" />
      <wsdl:output message="tns:GetMoneyInIBANDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChargebacks">
      <wsdl:input message="tns:GetChargebacksSoapIn" />
      <wsdl:output message="tns:GetChargebacksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMoneyInChequeDetails">
      <wsdl:input message="tns:GetMoneyInChequeDetailsSoapIn" />
      <wsdl:output message="tns:GetMoneyInChequeDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMoneyInSdd">
      <wsdl:input message="tns:GetMoneyInSddSoapIn" />
      <wsdl:output message="tns:GetMoneyInSddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalances">
      <wsdl:input message="tns:GetBalancesSoapIn" />
      <wsdl:output message="tns:GetBalancesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateGiftCodeAmazon">
      <wsdl:input message="tns:CreateGiftCodeAmazonSoapIn" />
      <wsdl:output message="tns:CreateGiftCodeAmazonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateVCC">
      <wsdl:input message="tns:CreateVCCSoapIn" />
      <wsdl:output message="tns:CreateVCCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoneyInIDealInit">
      <wsdl:input message="tns:MoneyInIDealInitSoapIn" />
      <wsdl:output message="tns:MoneyInIDealInitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoneyInIDealConfirm">
      <wsdl:input message="tns:MoneyInIDealConfirmSoapIn" />
      <wsdl:output message="tns:MoneyInIDealConfirmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoneyInSddInit">
      <wsdl:input message="tns:MoneyInSddInitSoapIn" />
      <wsdl:output message="tns:MoneyInSddInitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service_mbSoap" type="tns:Service_mbSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterWallet">
      <soap:operation soapAction="Service_mb/RegisterWallet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWalletDetails">
      <soap:operation soapAction="Service_mb/UpdateWalletDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWalletStatus">
      <soap:operation soapAction="Service_mb/UpdateWalletStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterIBAN">
      <soap:operation soapAction="Service_mb/RegisterIBAN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterSddMandate">
      <soap:operation soapAction="Service_mb/RegisterSddMandate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterCard">
      <soap:operation soapAction="Service_mb/RegisterCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterCard">
      <soap:operation soapAction="Service_mb/UnregisterCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterSddMandate">
      <soap:operation soapAction="Service_mb/UnregisterSddMandate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyIn">
      <soap:operation soapAction="Service_mb/MoneyIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyInValidate">
      <soap:operation soapAction="Service_mb/MoneyInValidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyIn3DInit">
      <soap:operation soapAction="Service_mb/MoneyIn3DInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyIn3DConfirm">
      <soap:operation soapAction="Service_mb/MoneyIn3DConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyIn3DAuthenticate">
      <soap:operation soapAction="Service_mb/MoneyIn3DAuthenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyInWebInit">
      <soap:operation soapAction="Service_mb/MoneyInWebInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyInWithCardId">
      <soap:operation soapAction="Service_mb/MoneyInWithCardId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPayment">
      <soap:operation soapAction="Service_mb/SendPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDetails">
      <soap:operation soapAction="Service_mb/GetPaymentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyInTransDetails">
      <soap:operation soapAction="Service_mb/GetMoneyInTransDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyOutTransDetails">
      <soap:operation soapAction="Service_mb/GetMoneyOutTransDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyOut">
      <soap:operation soapAction="Service_mb/MoneyOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefundMoneyIn">
      <soap:operation soapAction="Service_mb/RefundMoneyIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWalletDetails">
      <soap:operation soapAction="Service_mb/GetWalletDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FastPay">
      <soap:operation soapAction="Service_mb/FastPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="Service_mb/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKycStatus">
      <soap:operation soapAction="Service_mb/GetKycStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyInIBANDetails">
      <soap:operation soapAction="Service_mb/GetMoneyInIBANDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChargebacks">
      <soap:operation soapAction="Service_mb/GetChargebacks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyInChequeDetails">
      <soap:operation soapAction="Service_mb/GetMoneyInChequeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyInSdd">
      <soap:operation soapAction="Service_mb/GetMoneyInSdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalances">
      <soap:operation soapAction="Service_mb/GetBalances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGiftCodeAmazon">
      <soap:operation soapAction="Service_mb/CreateGiftCodeAmazon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateVCC">
      <soap:operation soapAction="Service_mb/CreateVCC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyInIDealInit">
      <soap:operation soapAction="Service_mb/MoneyInIDealInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyInIDealConfirm">
      <soap:operation soapAction="Service_mb/MoneyInIDealConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyInSddInit">
      <soap:operation soapAction="Service_mb/MoneyInSddInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service_mbSoap12" type="tns:Service_mbSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterWallet">
      <soap12:operation soapAction="Service_mb/RegisterWallet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWalletDetails">
      <soap12:operation soapAction="Service_mb/UpdateWalletDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWalletStatus">
      <soap12:operation soapAction="Service_mb/UpdateWalletStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterIBAN">
      <soap12:operation soapAction="Service_mb/RegisterIBAN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterSddMandate">
      <soap12:operation soapAction="Service_mb/RegisterSddMandate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterCard">
      <soap12:operation soapAction="Service_mb/RegisterCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterCard">
      <soap12:operation soapAction="Service_mb/UnregisterCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterSddMandate">
      <soap12:operation soapAction="Service_mb/UnregisterSddMandate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyIn">
      <soap12:operation soapAction="Service_mb/MoneyIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyInValidate">
      <soap12:operation soapAction="Service_mb/MoneyInValidate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyIn3DInit">
      <soap12:operation soapAction="Service_mb/MoneyIn3DInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyIn3DConfirm">
      <soap12:operation soapAction="Service_mb/MoneyIn3DConfirm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyIn3DAuthenticate">
      <soap12:operation soapAction="Service_mb/MoneyIn3DAuthenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyInWebInit">
      <soap12:operation soapAction="Service_mb/MoneyInWebInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyInWithCardId">
      <soap12:operation soapAction="Service_mb/MoneyInWithCardId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPayment">
      <soap12:operation soapAction="Service_mb/SendPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDetails">
      <soap12:operation soapAction="Service_mb/GetPaymentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyInTransDetails">
      <soap12:operation soapAction="Service_mb/GetMoneyInTransDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyOutTransDetails">
      <soap12:operation soapAction="Service_mb/GetMoneyOutTransDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyOut">
      <soap12:operation soapAction="Service_mb/MoneyOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefundMoneyIn">
      <soap12:operation soapAction="Service_mb/RefundMoneyIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWalletDetails">
      <soap12:operation soapAction="Service_mb/GetWalletDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FastPay">
      <soap12:operation soapAction="Service_mb/FastPay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="Service_mb/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKycStatus">
      <soap12:operation soapAction="Service_mb/GetKycStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyInIBANDetails">
      <soap12:operation soapAction="Service_mb/GetMoneyInIBANDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChargebacks">
      <soap12:operation soapAction="Service_mb/GetChargebacks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyInChequeDetails">
      <soap12:operation soapAction="Service_mb/GetMoneyInChequeDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyInSdd">
      <soap12:operation soapAction="Service_mb/GetMoneyInSdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalances">
      <soap12:operation soapAction="Service_mb/GetBalances" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGiftCodeAmazon">
      <soap12:operation soapAction="Service_mb/CreateGiftCodeAmazon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateVCC">
      <soap12:operation soapAction="Service_mb/CreateVCC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyInIDealInit">
      <soap12:operation soapAction="Service_mb/MoneyInIDealInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyInIDealConfirm">
      <soap12:operation soapAction="Service_mb/MoneyInIDealConfirm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyInSddInit">
      <soap12:operation soapAction="Service_mb/MoneyInSddInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_mb">
    <wsdl:port name="Service_mbSoap" binding="tns:Service_mbSoap">
      <soap:address location="https://ws.lemonway.fr/mb/payplug/dev/directkit/service.asmx" />
    </wsdl:port>
    <wsdl:port name="Service_mbSoap12" binding="tns:Service_mbSoap12">
      <soap12:address location="https://ws.lemonway.fr/mb/payplug/dev/directkit/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>